@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hue: 185;
  --hue-complement: 5;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.red {
  --hue: 0;
  --hue-complement: 200;
}
.orange {
  --hue: 25;
  --hue-complement: 180;
}
.tan {
  --hue: 40;
  --hue-complement: 220;
}

.yellow {
  --hue: 60;
  --hue-complement: 240;
}

.lime {
  --hue: 80;
  --hue-complement: 250;
}

.olive {
  --hue: 95;
  --hue-complement: 260;
}

.green {
  --hue: 120;
  --hue-complement: 280;
}

.wood {
  --hue: 145;
  --hue-complement: 280;
}

.cyan {
  --hue: 170;
  --hue-complement: 350;
}

.sky {
  --hue: 210;
  --hue-complement: 30;
}

.blue {
  --hue: 240;
  --hue-complement: 60;
}

.violet {
  --hue: 270;
  --hue-complement: 90;
}

.purple {
  --hue: 315;
  --hue-complement: 110;
}

.carmine {
  --hue: 335;
  --hue-complement: 160;
}
